.sidenav-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidenav {
  width: 250px;
  background: #f5f5f5;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.content {
  padding: 20px;
  flex-grow: 1;
}

.profile-card {
  display: flex;
  flex-direction: column;
}

.profile-header {
  display: flex;
  justify-content: space-between; /* Для распределения пространства между колонками */
  align-items: center; /* Для выравнивания по вертикали */
  padding: 16px;
}

.avatar-column {
  flex: 0 0 100px; /* Устанавливаем фиксированную ширину для картинки */
  margin-right: 16px;
}

.profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.text-column {
  flex-grow: 1; /* Заставляем текст занимать оставшееся пространство */
}

mat-card-content {
  margin-top: 16px;
}
