<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-list>
      <mat-list-item routerLink="./edit-profile">Edit Profile</mat-list-item>
      <mat-list-item routerLink="./change-password">Change Password</mat-list-item>
      <mat-list-item routerLink="./settings">Settings</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content class="content">
    <mat-card class="profile-card">
      <mat-card-header class="profile-header">
        <div class="avatar-column">
          <img [src]="profileImage" alt="User icon" class="profile-image" />
        </div>
        <div class="text-column">
          <mat-card-title>{{ user?.firstName }} {{ user?.lastName }}</mat-card-title>
          <mat-card-subtitle>{{ user?.email }}</mat-card-subtitle>
        </div>
      </mat-card-header>
      <mat-card-content>
        <app-image-uploader [userId]="currentUserId()" (imageUploaded)="onImageUploaded()"></app-image-uploader>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
